/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: 'Merriweather';
}

.btn{
  margin-top: .5em;
  margin-bottom: .5em;
}

.btn-green{
  border: 1px solid #5d8102;
  background-color: white;
  color: black;
}

.btn-green:hover{
  background-color: #5d8102;
  color: white;
}

.btn-red{
  border: 1px solid rgba(206,60,81,1);
  background-color: white;
  color: rgba(206,60,81,1);
}

.btn-red:hover{
  background-color: rgba(206,60,81,1);
  color: white;
}

.border-gold{
  border:1px solid #e8cb6d;
  border-radius: 10px;
}

.border-gray{
  border: 1px solid #CBCDCB;
  border-radius: 10px;
}

.mat-mdc-snack-bar-container {
  &.aac-red {
    --mdc-snackbar-container-color: rgba(206,60,81,1);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
    text-align: center;
  }
}

.mat-mdc-snack-bar-container {
  &.aac-green {
    --mdc-snackbar-container-color: #5d8102;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
    text-align: center;
  }
}

body{
  min-height: 40em;
  background-color: rgba(207,200,181, .1);
}

.blackFont{
  color: black;
}

.redFont{
  color: rgba(206,60,81,1);
}
