<div class="mainContainer" [ngClass]="dropdownDisplay ? 'noPaddingTop minHeight' : 'border-gray'">
  <div class="notLoggedInDiv" *ngIf="!loggedIn" [ngClass]="dropdownDisplay ? 'noPaddingTop' : ''">
    <div *ngIf="!dropdownDisplay" class="userIcon" style="text-align: center;">
      <img class="chefIcon" src="../../../assets//redChef.png" alt="">
    </div>
    <app-login class="login"
      [loginType]="'none'"
      (logInChangeStatus)="updateloginStatus($event)">
    </app-login>
  </div>

  <div *ngIf="loggedIn" class="loggedInDiv">
    <!-- <div class="loggedInTitle">Chef {{userInfo.username + (userInfo.username.slice(-1) === "s" ? "'" : "'s")}} </div> -->
    <div class="loggedInTitle">Chef {{userInfo.username}} </div>
    <div><button class="btn btn-red" (click)="logout()">logout</button></div>
  </div>
</div>
