.mainContainer{
  margin-top: 1em;
  min-height: 91%;
  max-height: 100px;
  overflow-y: scroll;
}

.notLoggedInDiv{
  padding-top: 7%;
}

.loggedInDiv{
  padding-top: 7%;
}

.loggedInTitle{
  text-transform: capitalize;
}
