<div class="mainContainer border-gray">
  <div class="notLoggedInDiv" *ngIf="!loggedIn">
    <div class="userIcon"><i class="fa fa-user-circle fa-3x" aria-hidden="true"></i></div>
    <app-login class="login"
      [loginType]="'none'"
      (logInChangeStatus)="updateloginStatus($event)">
    </app-login>
  </div>

  <div *ngIf="loggedIn" class="loggedInDiv">
    <!-- <div class="loggedInTitle">Chef {{userInfo.username + (userInfo.username.slice(-1) === "s" ? "'" : "'s")}} </div> -->
    <div class="loggedInTitle">Chef {{userInfo.username}} </div>
    <div><button class="btn btn-red" (click)="logout()">logout</button></div>
  </div>
</div>
