<!-- <app-navbar [path]="recipe.value.name"></app-navbar> -->
<!-- {{ isMobile ? recipe.value.name :  "" }} -->
<app-navbar
[user]="user$"
[recName]="recipe.value.name"
></app-navbar>

<div class="container">
  <div *ngIf="isMobile" class="text-center mt-3"><h2>{{recipe.value.name}}</h2></div>
  <div class="row">

    <div class="my-4" [ngClass]="isMobile ? 'col-12' : 'col-5'">
      <div *ngIf="recipe.value.images.length" id="imgCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item carouselDiv" *ngFor="let img of recipe.value.images;let index = index;let isFirst = first" [ngClass]="{active:isFirst}">
            <img src="{{img}}" class="d-block w-100" alt="...">
          </div>
        </div>
        <div class="pt-1"><a href="">Add your own for everyone to see!</a></div>
        <button class="carousel-control-prev" type="button" data-bs-target="#imgCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#imgCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div *ngIf="!recipe.value.images.length" class="text-center pt-5">
        <i class="fa-solid fa-kitchen-set fa-2xl noImgIcon"></i>
        <div class="pt-3">No images available for this recipe.</div>
        <div class="pt-1"><a href="">Add your own for everyone to see!</a></div>
      </div>
    </div>

    <div class="ingrDiv my-4" [ngClass]="isMobile ? 'col-12' : 'col-7'">
      <h3 class="text-center">Ingredientes:</h3>
      <ul>
        <li *ngFor="let ingredient of recipe.value.ingredients ; let i = index">
          {{ingredient}}
        </li>
      </ul>
    </div>

    <div class="col-12 stepsDiv my-3">
      <h3 class="text-center">Instrucciones:</h3>
      <ol>
        <li *ngFor="let step of recipe.value.steps ; let i = index">
          {{step}}
        </li>
      </ol>
    </div>
  </div>
</div>

<app-footer></app-footer>
