.mainContainer{
  min-height: 45em;
}

.carouselDiv{
  height: 25em;
}

.carouselDiv img{
  background-size: contain;
  border-radius: 5px;
}

.ingrDiv{
  border: 1px solid gray;
  border-radius: 5px;
  max-height: 25em;
  overflow-y: auto;
  font-size: 1.3em;
}

.stepsDiv{
  border: 1px solid gray;
  border-radius: 5px;
  max-height: 15em;
  overflow-y: auto;
  font-size: 1.2em;
}

.noImgIcon{
  font-size: 4em;
  color: rgba(206,60,81,1);
  padding-bottom: .5em;
}

.recipeNameFull{
  font-size: 1.88em;
  text-decoration: underline;
  text-decoration-color: rgba(206,60,81,1);
  margin-right: 1em;
}

.recipeNameMobile{
  display: inline;
  // padding-top: 5em;
  font-size: 1.34em;
  text-decoration: underline;
  text-decoration-color: rgba(206,60,81,1);
}

.mainImgCarousel{
  margin-top: 7.5em;
}


@media (max-width: 1000px) {
  .carouselDiv{
    height: 20em;
  }
  .ingrDiv{
    max-height: 15em;
  }
  .mainImgCarousel{
    margin-top: 3em;
  }
  .btn-red-title{
    margin-top: -0.3em;
    width: 2em;
    height: 2.2em;
  }
}
