<footer class="text-left text-lg-start bg-light mt-3">
  <!-- Copyright -->
  <div class="text-left p-1">
    © 2023 Copyright:
    <!-- <a href="/">RE: Web Solutions</a> -->
    <span href="/">RE: Web Solutions</span>
  </div>
  <!-- <div class="text-center text-white p-1" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="container d-flex justify-content-center py-5">
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: red;">
        <i class="fab fa-facebook-f"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: red;">
        <i class="fab fa-youtube"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: red;">
        <i class="fab fa-instagram"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: red;">
        <i class="fab fa-twitter"></i>
      </button>
    </div>
  </div> -->
</footer>
