<div class="mainContainer border-red-1px" style="background-color: white;">
  <div id="carouselExample" class="carousel carousel-dark slide">
    <div class="carousel-inner">

    <div class="carousel-item active container px-0">
      <div class="pb-1">
        <div class="mainHeader blackFont" style="color:rgba(206,60,81,1)">¡Aprendamos a Cocinar!</div>
        <div class="subTxt">recetas de Vilma G. de Escobar</div>
        <div class="col-12 initialSlideRecipeTitle" style="color: rgba(80,131,17,1);">¿Qué comeremos hoy?</div>
      </div>
      <div class="border-red-1px" style="border-width:.5px;width: 90%;margin-left: 5%;"></div>
      <div class="row initialSlideRecipeDiv">
        <a *ngFor="let recipe of featuredMeals; index as i" class="col mx-1 initialCarouselAnchor pt-2" href="/recipe/{{recipe._id}}" target="_blank">

          <div *ngIf="recipe.images.length" class="blackFont">
            <img class="recipeImgInitialSlide" src="{{recipe.images[randNumGenerator(recipe.images.length, i)]?.imgDataArr[0].url}}" alt="">
          </div>

          <div *ngIf="!recipe.images.length" class="blackFont">
            <div class="text-center noImgDivInitialCarousel">
              <div class="mb-2"><i class="fa-solid fa-kitchen-set fa-2xl"></i></div>
              <div class="pt-3 noImgTxt blackFont">No hay imágenes para esta receta.</div>
            </div>
          </div>

          <div>{{recipe.name}}</div>
        </a>
      </div>
    </div>

    <div *ngFor="let recipe of featuredMeals; index as i" class="carousel-item container" (click)="viewRecipe(recipe._id)">
      <div class="row" matTooltip="click para ver receta" [matTooltipPosition]="'above'">

        <div class="titleDiv col-12" [ngClass]="isMobile ? 'text-center' : ''">
          <div class="titleTxt pt-2" style="color:rgba(206,60,81,1)"><h1>{{recipe.name.toLowerCase()}}</h1></div>
        </div>
        <div *ngIf="recipe.images.length" class="blackFont" [ngClass]="isMobile ? 'col-12' : 'col-7'">
          <img class="recipeImg" src="{{recipe.images[randNumGenerator(recipe.images.length, i)]?.imgDataArr[0].url}}" alt="">
        </div>

        <div *ngIf="!recipe.images.length" class="blackFont" [ngClass]="isMobile ? 'col-12' : 'col-7'">
          <div class="text-center noImgDiv my-4">
            <div class="mt-4 mb-2"><i class="fa-solid fa-kitchen-set fa-2xl"></i></div>
            <div class="pt-3 blackFont">No hay imágenes para esta receta.</div>
            <div>
              <button class="btn btn-green">abrir receta para compartir fotos</button>
            </div>
          </div>
        </div>

        <div class="blackFont" [ngClass]="isMobile ? 'col-12' : 'col-5'">
          <div *ngIf="recipe.ingredients[0]" class="text-left mainTxt ingredientList">
            <h3 style="color:rgba(206,60,81,1)">Ingredientes:</h3>
            <ul>
              <li *ngFor="let ingredient of recipe.ingredients ; let i = index">
                {{ingredient}}
              </li>
            </ul>
          </div>
        </div>

        <div *ngIf="recipe.steps[0]"  class="blackFont col-12">
          <div class="stepList" [ngClass]="recipe.ingredients[0] ? 'stepListTopBorder' : ''">
            <h3 style="color:rgba(206,60,81,1)">Instrucciones:</h3>
            <ol>
              <li *ngFor="let step of recipe.steps ; let i = index">
                {{step}}
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>


    <!-- Carousel Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
