.mainContainer{
  margin: 1em;
  cursor: pointer;
}

.container{
  min-height: 25em;
  max-height: 25em;
  overflow-y: auto;
}

.mainHeader{
  font-size: 4em;
}

.subTxt{
  font-size: .75em;
}

.titleDiv{
  display: flex;
  justify-content: space-between;
  margin-top: .75em;
}

.titleTxt{
  text-transform: capitalize;
  text-align: left;
  margin-left: 1.5em;
}

.clickeHereTxt{
  display: none;
  text-align: right;
  font-size: .8rem;
  margin-top: 1.6em;
}

.mainContainer:hover .clickeHereTxt{
  display: flex;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

ul, ol {
  list-style-position: inside;
  padding-right: 1em;
}

li{
  text-align: left;
}

.recipeImg{
  width: 100%;
  height: auto;
  padding: 1.5em;
  padding-top: 0em;
}

.ingredientList, .stepList{
  text-align: left;
  overflow: auto;
}

.ingredientList{
  max-height: 18em;
}

.stepList{
  max-height: 10.5em;
}

.stepListTopBorder{
  border-top: 1px solid gray;
}

.recipeImgDiv{
  padding-left: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
}

.recipeImgDisplay{
  width: 100%;
  height: 100%;
}

.noImgDiv{
  padding-top: 2em;
}

.noImgIngredTitle{
  padding-left: 1.25em;
}

.carousel-control-prev{
  left: -2.2em;
}

.carousel-control-next{
  right: -2.2em;
}

@media (max-width: 950px) {
  .mainHeader{
    font-size: 2em;
  }

  .subTxt{
    font-size: .5em;
  }

  .recipeImgDiv{
    padding-left: 0em;
  }
}

