.container{
  margin-top: 1em;
}

.btn{
  width: 100%;
}

input{
  width: 100%;
  height: 35px;
  margin-bottom: 2em;
}

.createAcctBtn{
  color: rgba(80,131,17,255);
  text-decoration: underline;
  margin-top: .55em;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline:none
}

.createAcctBtn:hover{
  text-decoration: underline;
  cursor: pointer;
  color: #0b58ca;
}
