<app-navbar
[user]="user$"
></app-navbar>

<div class="mainContainer container">
  <div class="row">
    <div [ngClass]="isMobile ? 'col-12' : 'col-8'">
      <app-featured-meal
      [isMobile]="isMobile"
      [featuredRecipe]="featuredMeals"
      ></app-featured-meal>
    </div>
    <div class="loginDiv" [ngClass]="isMobile ? 'hide' : 'col-4'">
      <app-user-menu
      (logInChange)="fetchUser()"
      [user]="user$"
      [dropdownDisplay]="false"
      ></app-user-menu>
    </div>
    <div class="col-12">
      <app-recipe-list
        [isMobile]="isMobile"
        [user]="user$"
        [recipes]="recipes$"
      ></app-recipe-list>
    </div>
  </div>
</div>

<app-footer></app-footer>
