.fa-kitchen-set{
  color: rgba(206,60,81,1);
}

.showImgsDiv{
  width: 100%;
  max-height: 35em;
  overflow-y: auto;
}

.carousel{
  height: 35em;
}

.carousel img{
  height: 34em;
  width: auto;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(90%);
}

.commentSection{
  border: .5px solid gray;
  height: 25em;
}

.upload-photo-btn:hover{
  text-decoration: underline;
  cursor: pointer;
  color: rgba(206,60,81,.5);
}

.usernameTxt{
  font-size: 1.7em;
}











.upvoteBtn{
  background-color: transparent;
  border: none;
}

.upvoteIcon{
  max-height: 1.75em;
}

.upvoteBtn:hover{
  background-color: rgb(93, 129, 2, .25);
  border-radius: 50px;
}

.upvoteBtn:hover .upvoteIcon{
  max-height: 2.5em;
}

.upvoteIconReplies{
  max-height: 1.35em;
}

.upvoteBtn:hover .upvoteIconReplies{
  max-height: 2em;
}
