.fa-kitchen-set{
  color: rgba(206,60,81,1);
}

.showImgsDiv{
  width: 100%;
  max-height: 32em;
  overflow-y: auto;
}

.carousel{
  height: 32em;
}

.carousel img{
  height: 32em;
  width: auto;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(90%);
}

.carouselImgDiv{
  background-color: rgba(0, 0, 0, 0.03);
}

.upload-photo-btn:hover{
  text-decoration: underline;
  cursor: pointer;
  color: rgba(206,60,81,.5);
}
