<div class="recipeImgDiv">
  <div *ngIf="images.length" class="showImgsDiv container">
    <!-- img carousel -->
    <div *ngFor="let image of images;index as i">
      <div class="row" id="{{'div-' + image._id}}">

        <div [ngClass]="isMobile ? 'col-12' : 'col-9'">
          <div id="carouselExampleControls-{{image._id}}" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div *ngFor="let img of image.imgDataArr;index as i" class="carousel-item" [ngClass]="i === 0 ? 'active' : ''">
                <div class="d-flex justify-content-center carouselImgDiv">
                  <img class="d-block" src="{{img.url}}">
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselExampleControls-' + image._id" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselExampleControls-' + image._id" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="imgActionsDiv" [ngClass]="isMobile ? 'col-12' : 'col-3'">
          <div class="row mt-2">
            <div class="col-12 usernameTxt">
              chef {{image.username}}
            </div>
            <div class="col-12 descripcionDiv my-3 p-2">
              {{image.description}}
            </div>
            <div class="col-12">
              <button class="upvoteBtn" matTooltip="like" [matTooltipPosition]="'above'">
                <img class="upvoteIcon" src="../../../assets/avocadoNormal.png" alt="">
                <div style="display: inline-flex;color: rgba(181,216,0,255);margin-left: .5em;font-size: 1em;">
                  ( <span style="color: rgba(153,90,1,255);">4</span> )
                </div>
              </button>
            </div>
            <!-- <div class="col-6">
              <button *ngIf="userInfo && image.user_id === userInfo._id" (click)="open(content, 'edit', i)" class="btn-sm btn-red" style="border-radius: 5px;"
                matTooltip="editar post" [matTooltipPosition]="'above'">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
            </div> -->
            <div class="col-12 commentSection">
              <app-comments-section
                [comments_arr]="image.comments"
                [isMobile]="isMobile"
                [userInfo]="userInfo"
                [parentObject]="image"
                [parentType]="'image'"
                [mainCommentSection]="false"
              ></app-comments-section>
            </div>
            <div>
              <button class="halfWidth prevImgBtn btn my-0" (click)="scroll('div-' + images[i-1]._id)" matTooltip="ultimas fotos" [matTooltipPosition]="'above'"
              [disabled]="i === 0" [ngClass]="i === 0 ? 'disabled-btn-green':'btn-green'"><i class="fa-solid fa-angles-up"></i></button>

              <button class="halfWidth nextImgBtn btn my-0" (click)="scroll('div-' + images[i+1]._id)" matTooltip="proximas fotos" [matTooltipPosition]="'above'"
              [disabled]="(i+1) >= images.length" [ngClass]="(i+1) >= images.length ? 'disabled-btn-green':'btn-green'"><i class="fa-solid fa-angles-down"></i></button>
            </div>
            <div>
              <button *ngIf="userInfo && image.user_id != userInfo._id" class="btn btn-red" (click)="open(content, 'create')" style="width: 100%;">compartir tus fotos</button>
              <button *ngIf="userInfo && image.user_id === userInfo._id" class="btn btn-red" (click)="open(content, 'edit', i)"  style="width: 100%;">editar tu post <i class="fa-regular fa-pen-to-square"></i></button>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!-- No Imgs -->
  <div *ngIf="!images.length" class="text-center noImgDiv my-4">
    <div class="mt-4 mb-2"><i class="fa-solid fa-kitchen-set fa-2xl"></i></div>
    <div class="pt-3 blackFont">No hay imagenes para esta receta.</div>
    <div>
      <button *ngIf="!isHomePage" class="upload-photo-btn" (click)="open(content, 'create')">compartir fotos</button>
      <button *ngIf="isHomePage" class="upload-photo-btn">abrir receta para compartir fotos</button>
    </div>
  </div>
</div>

<!-- Upload Img Modal -->
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title" style="text-transform: capitalize;">Fotos para {{recipe_name.toLocaleLowerCase()}}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="clearImgData();modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <div class="row text-center mx-5">
      <div *ngIf="showSpinner" class="d-flex justify-content-center my-5">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div>subiendo cambios, no te vayas de esta pagina</div>
      </div>
      <form *ngIf="!showSpinner" id="modalForm">
        <!-- <div *ngIf="createType === 'edit'" class="currentImgs row">
          <div class="col-12 tl">Fotos: </div>
          <div *ngFor="let img of images[editImgIndex].imgDataArr" class="col-3 mr-1 form-check form-check-inline">
            <img src="{{img.url}}" alt="" style="height: auto;width: 100%;">
            <input class="form-check-input" type="checkbox" id="check-{{img.filename}}" value="{{ img.filename }}" name="deleteImgs">
            <label class="form-check-label" for="check-{{img.filename}}">
              Borrar Foto
            </label>
          </div>
        </div> -->
        <div style="width: 100%;white-space: nowrap;overflow-x: scroll;">
          <div *ngFor="let img of editableImgs;index as i" style="display: inline-flex;position: relative;margin-right: 2em;" [ngClass]="img.filename ?  'form-check form-check-inline' : ''">
            <img src="{{img.url}}" alt="" style="height: 15em;width: auto;">
            <div class="row" style="position: absolute;bottom: 0px;width: 100%;left: .75em;background-color: red;text-align: center;">
              <div class="col-6">
                <input *ngIf="img.filename" class="form-check-input" type="checkbox" id="check-{{img.filename}}" value="{{ img.filename }}" name="deleteImgs">
                <label *ngIf="img.filename" class="form-check-label" for="check-{{img.filename}}">
                  Borrar Foto
                </label>
              </div>
              <div class="col-6">
                mover: <select matNativeControl required>
                  <option value="{{i+1}}">{{i+1}}</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="my-4">
          <input class="form-control" type="file" name="form-imgs" id="form-file" multiple accept="image/*" (change)="checkFiles($event)">
        </div>
        <div class="mb-4">
          <textarea *ngIf="createType === 'create'" name="description" class="comentariosTxtArea" placeholder="descripcion" id="description" style="width: 100%;"></textarea>
          <textarea *ngIf="createType === 'edit'" name="description" class="comentariosTxtArea" placeholder="descripcion"  id="description" value="{{images[editImgIndex].description}}" style="width: 100%;"></textarea>
        </div>
      </form>
    </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-red" (click)="clearImgData();modal.close('Save click')">Cancelar</button>
		<button *ngIf="createType === 'create'" type="button" class="btn btn-green" (click)="uploadImg('create');">Subir</button>
		<button *ngIf="createType === 'edit'" type="button" class="btn btn-green" (click)="uploadImg('edit');">Editar</button>
	</div>
</ng-template>
