.mainContainer{
  margin-left: 1em;
  max-height: 20em;
  overflow: auto;
}

.accordionItem{
  width: 100%;
  border: 1px solid #CBCDCB;
}

.categoryBtnTxt{
  text-transform: capitalize;
}

.categoryBtnOptionTxt{
  background-color: white;
  border-style: none;
  text-decoration: none;
  color: black;
}

.categoryBtnOptionTxt:hover{
  text-decoration: underline;
  text-decoration-color: #5d8102;
  border-right:none;
}

.listHeader{
  margin-top: .5em;
  text-align: left;
  padding-left: 2em;
}

input[type=text] {
  width: 55%;
  margin-top: .4em;
  margin-bottom: .4em;
  border-radius: 3px;
  min-height: 2.25em;
}

h2{
  margin-top: 0px;
}

.btn{
  width: 8%;
  margin: .35em;
  max-height: 2.3em;
}

.floatRight{
  text-align: right;
  float: right;
}

@media (max-width: 820px) {

  .mainContainer{
    max-height: 22em;
    margin: 1em;
  }

  .btn{
    width: 13%;
    margin: 0;
    margin-top: -.1em;
  }

  input[type=text] {
    width: 83%;
  }
}
