<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="/"><img class="logo" src="../../../assets/AacLogo.png" alt=""></a>

  <ul *ngIf="isMobile || showProfileDropdown" class="nav justify-content-end" style="margin-right: 1.6em;">
  <li class="nav-item dropdown btn-red-filled" style="border-radius: 25px;border-width: .5px;">
    <a class="nav-link" routerLink="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
    style="padding: .25em;" (mouseover)="hover('redChef.png');" (mouseout)="hover('whiteChef.png');" data-bs-auto-close="outside">
      <img class="chefUserIcon" src="../../../assets/whiteChef.png" alt="" id="navUserIcon">
    </a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="min-width: 15em;"
    (mouseover)="hover('redChef.png');" (mouseout)="hover('whiteChef.png');">
      <app-user-menu
      [dropdownDisplay]="true"
      [isMobile]="isMobile"
      (logInChange)="userChange($event)"
      ></app-user-menu>
    </div>
  </li>
  </ul>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a *ngIf="path" class="nav-link pathNameTxt" routerLink="/">/ {{path}}</a>
    <div *ngIf="recName" class="nav-link recipeNameTxt" [ngClass]="path ? '' : 'negativeMargin'" routerLink="/">/ {{recName.toLowerCase()}}</div>
  </div>
</nav>
