.chefUserIcon{
  max-width: 1.5em;
  max-height: 1.5em;
}

.navbar-brand{
  padding-left: .75em;
  font-size: 1em;
}

.logo{
  max-width: 7em;
}

.pathNameTxt{
  font-size: .85em;
  text-transform: capitalize;
  margin-left: -2em;
}

.recipeNameTxt{
  font-size: 1.5em;
  text-transform: capitalize;
}

.negativeMargin{
  margin-left: -1.5em;
}
