<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Aprendamos a Cocinar</a>


  <nav class="navbar navbar bg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <img class="chefUserIcon" src="../../../assets/chefUser.png" alt="">
      </button>
    </div>
  </nav>

  <div class="collapse" id="navbarToggleExternalContent">
    <!-- Mobile/Tablet View -->
    <div class="bg p-4" style="display: inline-block;">
      <app-user-menu
      [user]="user"
      ></app-user-menu>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a *ngIf="path" class="nav-link pathNameTxt" href="/">/ {{path}}</a>
    <div *ngIf="recName" class="nav-link recipeNameTxt" [ngClass]="path ? '' : 'negativeMargin'" href="/">/ {{recName.toLowerCase()}}</div>
  </div>
</nav>
